table th{
    padding : 20px 10px;
}
  
table td{
padding : 20px 10px;
}

table{
    width: 70%;
    border-collapse:collapse;
}

th{
width: 30%;
}

td{
width: 70%;
}

th,td{
    border:solid 1px #aaaaaa;
}